.text-center {
  text-align: center;
  margin-bottom: 50px;
}
.text-right  {
  text-align: right;
  margin-bottom: 50px;
}

.image-center {
  text-align: center;
}
.image-center img {
  width: 731px;
  margin: 0 auto; 
}

.no-margin {
  margin: 0;
}

.margin-bottom {
  margin-bottom: 50px;
}